<% @deployments.each do |deploy| %>
  <div class="deployment-item" id="deployment_<%= deploy.id %>" data-number="<%= deploy.number %>">
  <div class="deployment-overview">
    <img src="<%= deploy.gravatar_img %>" alt="Gravatar" />
    <strong><%= deploy.deployed_by_name %></strong> deployed <%= deploy.remote_user %>/<%= deploy.application %> from (<%= deploy.rev %>/<%= deploy.revision %>) <span class="stage <%= deploy.stage %>"><%= deploy.stage %></span><span class="deploy-date"><%= deploy.created_at.strftime("%F %k:%M") %></span>
  </div>
  <div class="changelog">
    <div class="changelog-text">
    <pre><%= deploy.changelog %></pre>
    </div>
  </div>
</div>
<% end %>
