<div id="deployments">
  <div id="filters" class="clear">
    <form action="/" method="get">
      <div class="text">
	<input type="text" id="search-input" name="q" value="<%= params[:q] %>" />
      </div>
      <input id="date-field" type="hidden" name="date" value="<%= params[:date] %>" />
      <input id="stage-field" type="hidden" name="stage" value="<%= params[:stage] %>" />
      <input id="since-field" type="hidden" name="since" value="<%= params[:since] %>" />
      <button type="button" id="search-go"><span>Search</span></button>
      <br />
      <div class="clear filter" id="date-range-filter">
	<div class="col-3">
	  <span>Date Range:</span>
	</div>
	<div class="col-8 col-last">
	  <ul id="date-range" class="clear">
	    <li class="<%= "active" if params[:date].blank? %>"><a id="date-range-all" href="#">All</a></li>
	    <li class="<%= "active" if params[:date] == "this_week" %>"><a id="date-range-this_week" href="#">This Week</a></li>
	    <li class="<%= "active" if params[:date] == "last_week" %>"><a id="date-range-last_week" href="#">Last Week</a></li>
	  </ul>
	</div>
      </div>
      <div class="clear filter" id="stage-filter">
	<div class="col-3">
	  <span>Stage:</span>
	</div>
	<div class="col-8 col-last">
	  <ul id="stage" class="clear">
	    <li class="<%= "active" if params[:stage].blank? %>"><a id="stage-all" href="#">All</a></li>
	    <li class="<%= "active" if params[:stage] == "live" %>"><a id="stage-live" href="#">Live</a></li>
	    <li class="<%= "active" if params[:stage] == "dev" %>"><a id="stage-dev" href="#">Development</a></li>
	  </ul>
	</div>
      </div>
    </form>
  </div>
  <% if @deployments && @deployments.any? %>
    <br class="clear" />
    <h2 class="underlined">Recent Deployments</h2>
    <div id="deployment-items" class="clear">
      <%= erb :deployment_items %>
    </div>
<% else %>
  <br class="clear" />
  <span class="empty">No recent deployments to display</span>
<% end %>
<% if @deployments && @deployments.any? %>
  <div id="more-loader" class="col-24 col-last">
    <button type="button" id="display-more"><span>Show more</span></button>
    <img id="loading-more-img" src="/images/ajax-loader.gif" alt="Axax loader" class="hide" />
  </div>
<% end %>
</div>
