<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Fusionary Deployment Tracker</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.condense.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"><h1>Fusionary Deployment Tracker</h1></div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
