/**
* css3 PIE
* http://css3pie.com/
* elements also need a z-index, so not position: static
* use ie html classes to create a .pie class in your site stylesheet
*/
.pie, .ie7 .text input, .ie7
.textarea textarea, .ie8 .text input, .ie8
.textarea textarea, .ie7 .text input:hover, .ie7
.textarea textarea:hover, .ie8 .text input:hover, .ie8
.textarea textarea:hover {
  behavior: url("/css/easel/tools/PIE.htc"); }

/**
* text-shadow
*/
/**
* box-shadow
*/
/**
* opacity
*/
/**
* border-radius
* PIE only works with shorthand method
*/
/**
* @font-face
* here for reference, but these declarations should go in the <head> to minimize any FOUC
*/
/**
* rgba backgrounds
*/
/**
* multiple backgrounds
*/
/**
* vertical gradient
*/
/**
* multi-column layout (newspaper columns)
*/
/**
* css transitions
* for multiple properties/durations/functions, use a comma-delimited list
*/
/**
* flexible boxes
*/
/** =font-face groups
************************************************************/
/** =text/textarea inputs
************************************************************/
body {
  color: #000;
  background: #213449;}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

abbr {
  border: 0;
  font-variant: normal; }

sup,
sub {
  vertical-align: baseline; }

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input,
textarea,
button {
  border: 0;
  padding: 0;
  background: none; }

del,
ins,
a {
  text-decoration: none; }

.left {
  float: left;
  display: inline; }

.right {
  float: right;
  display: inline; }

.clear {
  clear: both; }

.group:before, .group:after, .clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }
.group:after, .clearfix:after {
  clear: both; }
.group, .clearfix {
  zoom: 1; }

.hide {
  display: none; }

.js .js-hide {
  display: none; }

.js-show {
  display: none; }
  .js .js-show {
    display: block; }

.hide-accessibly {
  position: absolute;
  left: -9999em; }

.js .js-hide-accessibly {
  position: absolute;
  left: -9999em; }

.invisible, .js .js-invisible {
  visibility: hidden; }

.visible, .js .js-visible {
  visibility: visible; }

.block {
  display: block;
  margin-bottom: 20px; }

.centered {
  text-align: center; }

.no-bullets li {
  background: none;
  list-style-type: none;
  padding-left: 0; }

.nowrap {
  white-space: nowrap; }

.col-1 {
  float: left;
  display: inline;
  width: 30px;
  margin-right: 10px; }

.append-1 {
  padding-right: 40px; }

.prepend-1 {
  padding-left: 40px; }

.pull-1 {
  margin-left: -40px; }

.push-1 {
  margin-left: 40px; }

.col-2 {
  float: left;
  display: inline;
  width: 70px;
  margin-right: 10px; }

.append-2 {
  padding-right: 80px; }

.prepend-2 {
  padding-left: 80px; }

.pull-2 {
  margin-left: -80px; }

.push-2 {
  margin-left: 80px; }

.col-3 {
  float: left;
  display: inline;
  width: 110px;
  margin-right: 10px; }

.append-3 {
  padding-right: 120px; }

.prepend-3 {
  padding-left: 120px; }

.pull-3 {
  margin-left: -120px; }

.push-3 {
  margin-left: 120px; }

.col-4 {
  float: left;
  display: inline;
  width: 150px;
  margin-right: 10px; }

.append-4 {
  padding-right: 160px; }

.prepend-4 {
  padding-left: 160px; }

.pull-4 {
  margin-left: -160px; }

.push-4 {
  margin-left: 160px; }

.col-5 {
  float: left;
  display: inline;
  width: 190px;
  margin-right: 10px; }

.append-5 {
  padding-right: 200px; }

.prepend-5 {
  padding-left: 200px; }

.pull-5 {
  margin-left: -200px; }

.push-5 {
  margin-left: 200px; }

.col-6 {
  float: left;
  display: inline;
  width: 230px;
  margin-right: 10px; }

.append-6 {
  padding-right: 240px; }

.prepend-6 {
  padding-left: 240px; }

.pull-6 {
  margin-left: -240px; }

.push-6 {
  margin-left: 240px; }

.col-7 {
  float: left;
  display: inline;
  width: 270px;
  margin-right: 10px; }

.append-7 {
  padding-right: 280px; }

.prepend-7 {
  padding-left: 280px; }

.pull-7 {
  margin-left: -280px; }

.push-7 {
  margin-left: 280px; }

.col-8 {
  float: left;
  display: inline;
  width: 310px;
  margin-right: 10px; }

.append-8 {
  padding-right: 320px; }

.prepend-8 {
  padding-left: 320px; }

.pull-8 {
  margin-left: -320px; }

.push-8 {
  margin-left: 320px; }

.col-9 {
  float: left;
  display: inline;
  width: 350px;
  margin-right: 10px; }

.append-9 {
  padding-right: 360px; }

.prepend-9 {
  padding-left: 360px; }

.pull-9 {
  margin-left: -360px; }

.push-9 {
  margin-left: 360px; }

.col-10 {
  float: left;
  display: inline;
  width: 390px;
  margin-right: 10px; }

.append-10 {
  padding-right: 400px; }

.prepend-10 {
  padding-left: 400px; }

.pull-10 {
  margin-left: -400px; }

.push-10 {
  margin-left: 400px; }

.col-11 {
  float: left;
  display: inline;
  width: 430px;
  margin-right: 10px; }

.append-11 {
  padding-right: 440px; }

.prepend-11 {
  padding-left: 440px; }

.pull-11 {
  margin-left: -440px; }

.push-11 {
  margin-left: 440px; }

.col-12 {
  float: left;
  display: inline;
  width: 470px;
  margin-right: 10px; }

.append-12 {
  padding-right: 480px; }

.prepend-12 {
  padding-left: 480px; }

.pull-12 {
  margin-left: -480px; }

.push-12 {
  margin-left: 480px; }

.col-13 {
  float: left;
  display: inline;
  width: 510px;
  margin-right: 10px; }

.append-13 {
  padding-right: 520px; }

.prepend-13 {
  padding-left: 520px; }

.pull-13 {
  margin-left: -520px; }

.push-13 {
  margin-left: 520px; }

.col-14 {
  float: left;
  display: inline;
  width: 550px;
  margin-right: 10px; }

.append-14 {
  padding-right: 560px; }

.prepend-14 {
  padding-left: 560px; }

.pull-14 {
  margin-left: -560px; }

.push-14 {
  margin-left: 560px; }

.col-15 {
  float: left;
  display: inline;
  width: 590px;
  margin-right: 10px; }

.append-15 {
  padding-right: 600px; }

.prepend-15 {
  padding-left: 600px; }

.pull-15 {
  margin-left: -600px; }

.push-15 {
  margin-left: 600px; }

.col-16 {
  float: left;
  display: inline;
  width: 630px;
  margin-right: 10px; }

.append-16 {
  padding-right: 640px; }

.prepend-16 {
  padding-left: 640px; }

.pull-16 {
  margin-left: -640px; }

.push-16 {
  margin-left: 640px; }

.col-17 {
  float: left;
  display: inline;
  width: 670px;
  margin-right: 10px; }

.append-17 {
  padding-right: 680px; }

.prepend-17 {
  padding-left: 680px; }

.pull-17 {
  margin-left: -680px; }

.push-17 {
  margin-left: 680px; }

.col-18 {
  float: left;
  display: inline;
  width: 710px;
  margin-right: 10px; }

.append-18 {
  padding-right: 720px; }

.prepend-18 {
  padding-left: 720px; }

.pull-18 {
  margin-left: -720px; }

.push-18 {
  margin-left: 720px; }

.col-19 {
  float: left;
  display: inline;
  width: 750px;
  margin-right: 10px; }

.append-19 {
  padding-right: 760px; }

.prepend-19 {
  padding-left: 760px; }

.pull-19 {
  margin-left: -760px; }

.push-19 {
  margin-left: 760px; }

.col-20 {
  float: left;
  display: inline;
  width: 790px;
  margin-right: 10px; }

.append-20 {
  padding-right: 800px; }

.prepend-20 {
  padding-left: 800px; }

.pull-20 {
  margin-left: -800px; }

.push-20 {
  margin-left: 800px; }

.col-21 {
  float: left;
  display: inline;
  width: 830px;
  margin-right: 10px; }

.append-21 {
  padding-right: 840px; }

.prepend-21 {
  padding-left: 840px; }

.pull-21 {
  margin-left: -840px; }

.push-21 {
  margin-left: 840px; }

.col-22 {
  float: left;
  display: inline;
  width: 870px;
  margin-right: 10px; }

.append-22 {
  padding-right: 880px; }

.prepend-22 {
  padding-left: 880px; }

.pull-22 {
  margin-left: -880px; }

.push-22 {
  margin-left: 880px; }

.col-23 {
  float: left;
  display: inline;
  width: 910px;
  margin-right: 10px; }

.append-23 {
  padding-right: 920px; }

.prepend-23 {
  padding-left: 920px; }

.pull-23 {
  margin-left: -920px; }

.push-23 {
  margin-left: 920px; }

.col-24 {
  float: left;
  display: inline;
  width: 950px;
  margin-right: 10px; }

.append-24 {
  padding-right: 960px; }

.prepend-24 {
  padding-left: 960px; }

.pull-24 {
  margin-left: -960px; }

.push-24 {
  margin-left: 960px; }

.col-24,
.col-last {
  margin-right: 0; }

.col {
  float: left;
  display: inline;
  margin-right: 10px; }

.container {
  width: 950px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }
  .container {
    zoom: 1; }

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  letter-spacing: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h1 {
  font-weight: bold;
  line-height: 1;
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #1a1a1a; }

h2 {
  font-weight: bold;
  line-height: 1;
  font-size: 22px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #1a1a1a; }

h3 {
  font-weight: bold;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #1a1a1a; }

h4 {
  font-weight: bold;
  line-height: 1;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #1a1a1a; }

h5 {
  font-weight: bold;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #1a1a1a; }

h6 {
  font-weight: bold;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #1a1a1a; }

a {
  color: red; }
  a:focus, a:hover {
    color: #cc0000; }

ul {
  display: block;
  margin-bottom: 20px; }
  ul li {
    list-style-type: none;
    padding-left: 0;
    background: none;
    line-height: inherit;
    margin: 0;
    line-height: 1.275;
    margin: 10px 0; }
  ul li {
    background: url("/css/easel/images/decor/bullet.png") 0 0.5em no-repeat;
    padding-left: 10px; }

ol {
  display: block;
  margin-bottom: 20px; }
  ol li {
    list-style-type: none;
    padding-left: 0;
    background: none;
    line-height: inherit;
    margin: 0;
    line-height: 1.275;
    margin: 10px 0; }
  ol li {
    list-style-type: decimal;
    margin-left: 2em; }

dl {
  display: block;
  margin-bottom: 20px; }
  dl dd {
    margin-left: 20px; }

p {
  display: block;
  margin-bottom: 20px; }

table {
  display: table;
  margin-bottom: 20px; }

blockquote {
  display: block;
  margin-bottom: 20px;
  padding: 20px 20px;
  color: #4d4d4d; }

pre {
  display: block;
  margin-bottom: 20px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

address {
  display: block;
  margin-bottom: 20px; }

form {
  display: block;
  margin-bottom: 20px; }

button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0 18px 0 0;
  zoom: 1;
  width: auto;
  overflow: visible; }
  .ie6 button, .ie7 button {
    display: inline;
    vertical-align: auto; }
  button::-moz-focus-inner {
    border: none;
    padding: 0; }
  button span {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 0 0 0 18px;
    height: 32px;
    line-height: 31px; }
  button, button span {
    background-image: url("/css/easel/images/ui/button-white.png"); }
  button {
    background-position: 100% 0; }
  button span {
    background-position: 0 -100px; }
  button:hover {
    background-position: 100% -200px; }
  button:hover span {
    background-position: 0 -300px; }
  button:active {
    background-position: 100% -400px; }
  button:active span {
    background-position: 0 -500px; }
  button span span {
    background: none;
    height: auto;
    padding: 0; }

sup {
  font-size: 60%;
  vertical-align: text-top; }

sub {
  font-size: 60%;
  vertical-align: text-bottom; }

abbr {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  cursor: help; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 85%; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

code {
  font-family: Consolas, "Lucida Console", Monaco, monospace; }

img {
  max-width: 100%;
  height: auto; }
  img .ie7 {
    -ms-interpolation-mode: bicubic; }

.header,
.footer,
.content {
  width: 950px;
  background: #fff;
  padding: 10px;
  margin: 0 auto; }
  .header:before, .header:after,
  .footer:before,
  .footer:after,
  .content:before,
  .content:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .header:after,
  .footer:after,
  .content:after {
    clear: both; }
  .header,
  .footer,
  .content {
    zoom: 1; }

.text input,
.textarea textarea {
  border: 0;
  padding: 4px 5px;
  border: 1px solid #cccccc;
  border-bottom-color: #a8a8a8;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: #ededed;
  background: -moz-linear-gradient(center top, white 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #ededed));
  color: #333333; }
  .ie7 .text input, .ie7
  .textarea textarea {
    -pie-background: linear-gradient(90deg, white, #ededed); }
  .ie8 .text input, .ie8
  .textarea textarea {
    -pie-background: linear-gradient(90deg, white, #ededed); }
  .text input:hover,
  .textarea textarea:hover {
    background: #e0e0e0;
    background: -moz-linear-gradient(center top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e0e0e0)); }
    .ie7 .text input:hover, .ie7
    .textarea textarea:hover {
      -pie-background: linear-gradient(90deg, white, #e0e0e0); }
    .ie8 .text input:hover, .ie8
    .textarea textarea:hover {
      -pie-background: linear-gradient(90deg, white, #e0e0e0); }
  .text input:focus,
  .textarea textarea:focus {
    background: white; }

.nav {
  line-height: 1.1; }
  .nav:before, .nav:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .nav:after {
    clear: both; }
  .nav {
    zoom: 1; }
  .nav li {
    list-style-type: none;
    padding-left: 0;
    background: none;
    line-height: inherit;
    margin: 0;
    float: left;
    display: inline;
    margin-right: 0; }
    .nav li a {
      display: block; }
    .nav li.last {
      margin-right: 0; }
  .nav li {
    list-style-type: none;
    padding-left: 0;
    background: none;
    line-height: inherit;
    margin: 0;
    border-right: 1px solid #cccccc;
    padding-right: 8px;
    margin-right: 8px; }
    .nav li.last {
      margin-right: 0;
      padding-right: 0;
      border-right: 0; }
.content {  min-height: 500px; }
.deploy-date { color: #999; margin-right: 25px; }
#more-loader { margin-top: 25px; }
.header { background: #213449; }
.header h1 { font-size: 2.5em; color: #fff; }
h2.underlined { padding-bottom: 10px; border-bottom: 1px solid #999; }
span.empty { font-size: 1.5em; color: #999; font-weight: bold; font-style: italic; padding: 25px 0; margin: 10px 0;}
.changelog { clear: both; margin: 0 15px; border-bottom: 1px solid #CCCCCC; padding-bottom: 5px;}
.deployment-item {margin: 10px 0;}
#loading-more-img {
    position: relative;
    top: 12px;
}
#search-input { font-weight: bold; width: 700px; height: 1.5em; font-size: 1.5em; float: left; margin-right: 10px; }
#search-go { float: left; }
#date-range-filter { margin-top: 30px; margin-bottom: 5px;}
#stage-filter { padding-top: 10px; }
.spacer { margin: 25px 0;}
.filter { font-size: 16px; margin: 40px 0;}
.filter span {font-weight: bold;}
.filter ul {display: inline;}
.filter ul li {
    padding: 5px;
    background-image: none;
    display: inline;
}
.filter ul li.active {
    background-color: #213449;
    color: #fff;
}

.filter ul li a {
    text-decoration: none;
    color: #666;
}
.filter ul li.active a { color: #fff }
.deployment-overview img { display: block; float: left; margin-right: 10px;}
.stage { margin-right: 5px; }
.live { color: red; }
.dev { color: green; }
