@mixin classes {

  // floats/clearing
  .left { @include float(left); }
  .right { @include float(right); }
  .clear { clear: both; }
  .group, .clearfix { @include clearfix; }
  
  // hiding/showing
  .hide { display: none; }
  .js-hide { @include js-hide; }
  .js-show { @include js-show; }
  .hide-accessibly { @include hide-accessibly; }
  .js-hide-accessibly { @include js-hide-accessibly; }
  .invisible, .js .js-invisible { visibility: hidden; }
  .visible, .js .js-visible { visibility: visible; }
  
  // misc
  .block { @include block; }
  .centered { text-align: center; }
  .no-bullets { @include no-bullets; }
  .nowrap { white-space: nowrap; }
  
}