// --------------------------------------------------
// Font stacks from font squirrel are generated with font-size-adjust properties,
// but currently only Firefox supports it. For now just include them and comment the
// line out until we can actually use it.
// --------------------------------------------------

// default font stacks
@mixin font-sans {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@mixin font-serif {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}
@mixin font-mono {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

// sans-serif stacks
@mixin trebuchet {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
@mixin helvetica-neue {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin verdana {
  font-family: Verdana, Geneva, sans-serif;
}
@mixin lucica-grande {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

@mixin gill-sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
@mixin futura {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
@mixin optima {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

// serif stacks
@mixin helvetica-neue-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

@mixin garamond {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
@mixin baskerville {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/** =font-face groups
************************************************************/
@mixin baskervald {
  font-family: Baskervald, serif;
}
@mixin proxima-nova {
  font-family: 'Proxima Nova', sans-serif;
//   font-size-adjust: .48;
}
@mixin ofl-goudy {
  font-family: 'OFL Goudy', serif;
}
@mixin champagne {
  font-family: 'CAC Champagne', serif;
}
// titillium text
@mixin titillium-text {
	font-family: 'Titillium Text', sans-serif;
//  font-size-adjust: .5;
}
@mixin alexandria {
  font-family: 'Alexandria', sans-serif;
//  font-size-adjust: 0.52;
}
@mixin litho-antique {
  font-family: 'Litho Antique', sans-serif;
}