$status-gray-bg: darken(#fff, 3%) !default;
$status-gray-border: darken(#fff, 8%) !default;
$status-gray-text: darken(#fff, 60%) !default;

$status-red-bg: #ffdfdf !default;
$status-red-border: saturate(darken($status-red-bg, 10%), 20%) !default;
$status-red-text: saturate(darken($status-red-bg, 60%), 60%) !default;

$status-yellow-bg: #fff6bf !default;
$status-yellow-border: saturate(darken($status-yellow-bg, 30%), 10%) !default;
$status-yellow-text: saturate(darken($status-yellow-bg, 60%), 60%) !default;

$status-blue-bg: #e8F5ff !default;
$status-blue-border: saturate(darken($status-blue-bg, 8%), 20%) !default;
$status-blue-text: saturate(darken($status-blue-bg, 60%), 60%) !default;

$status-green-bg: #e6efc2 !default;
$status-green-border: saturate(darken($status-green-bg, 30%), 20%) !default;
$status-green-text: saturate(darken($status-green-bg, 60%), 20%) !default;