@mixin sticky-footer(
  $height,
  $padding-y: 0,
  $wrapper: '.wrapper',
  $footer:  '.footer') {
	html {
		height: 100%;
	}
	body {
		position: relative;
    @include min-height(100%);
	}
	#{$wrapper} {
    padding-bottom: $padding-y + $height;
	}
	#{$footer} {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: $height;
	}
}