@mixin floated-list($margin-right: 0) {
  @include clearfix;
  li {
    @include li-reset;
    @include float(left);
    margin-right: $margin-right;
    a {
      display: block;
    }
    &.last {
      margin-right: 0;
    }
  }
}

@mixin inline-block-list($margin-right: 0) {
  li {
    @include li-reset;
    @include inline-block;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
    }
  }
}

@mixin inline-list($margin-right: 0) {
  li {
    @include li-reset;
    display: inline;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
    }
  }
}

@mixin piped-list(
  $color: $base-border-color,
  $width: 1px,
  $style: solid,
  $padding-right: 8px,
  $margin-right: 8px,
  $line-height: 1.1) {
  @if $line-height {
    line-height: $line-height;
  }
  li {
    @include li-reset;
    border-right: $width $style $color;
    padding-right: $padding-right;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
    }
  }
}