// --------------------------------------------------
// import
// --------------------------------------------------
@import "base/headings";
@import "base/lists";
@import "base/tables";
@import "base/forms";
@import "base/buttons";
@import "base/scaffolding";

// --------------------------------------------------
// base font
// the reset-font mixin will set properies to inherit,
// while this one will reset to the styled default.
// --------------------------------------------------
@mixin base-font {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
  letter-spacing: $base-letter-spacing;
}

// --------------------------------------------------
// plain blocks
// --------------------------------------------------
@mixin p {
  @include block;
}
@mixin address {
  @include block;
}

// --------------------------------------------------
// quotes
// --------------------------------------------------
@mixin blockquote {
  @include block;
  padding: $base-x $base-y;
  color: $light-text-color;
}
@mixin q {
  font-style: italic;
}

// --------------------------------------------------
// pre, code, etc
// pre stuff lifted from http://html5boilerplate.com/
// --------------------------------------------------
@mixin pre {
  @include block;
  white-space: pre;// CSS2
  white-space: pre-wrap;// CSS 2.1
  white-space: pre-line;// CSS 3 (and 2.1 as well, actually)
  word-wrap: break-word;// IE
}
@mixin code {
  @include font-mono;
}
@mixin samp {
  @include font-mono;
}
@mixin kbd {
  @include font-mono;
}
@mixin samp {
  @include font-mono;
}

@mixin a(
  $color: $base-link-color,
  $hover-color: $base-link-hover-color) {
  color: $color;
  &:focus,
  &:hover {
    color: $hover-color;
  }
}

// --------------------------------------------------
// images
// max-width/height to prevent oversized images from breaking out of a box
// --------------------------------------------------
@mixin img {
  max-width: 100%;
  height: auto;
  .ie7 {
    -ms-interpolation-mode: bicubic;
  }
}

// --------------------------------------------------
// inline text
// --------------------------------------------------
@mixin small {
  font-size: 85%;
}
@mixin strong {
  font-weight: bold;
}
@mixin em {
  font-style: italic;
}
@mixin abbr {
  @include uppercase($font-weight: false, $font-size: false);
  cursor: help;
}
@mixin del {
  text-decoration: line-through;
}
@mixin ins {
  text-decoration: underline;
}
@mixin sub {
  font-size: 60%;
	vertical-align: text-bottom;
}
@mixin sup {
  font-size: 60%;
  vertical-align: text-top;
}