// --------------------------------------------------
// import
// --------------------------------------------------
@import "tools/reset";
@import "tools/grid";
@import "tools/css3";

// --------------------------------------------------
// ie6 float fix
// --------------------------------------------------
@mixin float($dir: left) {
  float: $dir;
  display: inline;
}

// --------------------------------------------------
// clearfix
// j.mp/bestclearfix
// --------------------------------------------------
@mixin clearfix {
  &:before,
  &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1;// IE < 8
  }
}

// --------------------------------------------------
// cross browser inline-block
// --------------------------------------------------
@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  .ie6 &,
  .ie7 & {
    display: inline;
    vertical-align: auto;
  }
}

// --------------------------------------------------
// negative margin fix for ie6
// http://haslayout.net/css/Negative-Margin-Bug
// --------------------------------------------------
@mixin negative-margin-fix {
  .ie6 & {
    position: relative;
    zoom: 1;
  }
}

// --------------------------------------------------
// min height/width for ie6
// --------------------------------------------------
@mixin min-height($h: auto) {
  min-height: $h;
  .ie6 & {
    height: $h;
  }
}
@mixin min-width($w: auto) {
  min-width: $w;
  .ie6 & {
    width: $w;
  }
}

// --------------------------------------------------
// image replacement
// --------------------------------------------------
@mixin replace {
  background-repeat: no-repeat;
  text-indent: -999em;
  display: block;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  font-size: 1px;
}

// --------------------------------------------------
// hiding/showing
// --------------------------------------------------
@mixin js-hide {
  .js & {
    display: none;
  }
}
@mixin js-show {
  display: none;
  .js & {
    display: block;
  }
}
@mixin hide-accessibly() {
  position: absolute;
  left: -9999em;
}
@mixin js-hide-accessibly() {
  .js & {
    @include hide-accessibly;
  }
}

// --------------------------------------------------
// bottom margin block
// --------------------------------------------------
@mixin block($margin: $base-y, $display: block) {
  display: $display;
  margin-bottom: $margin;
}