// --------------------------------------------------
// YUI3 reset with at few tweaks: 
// reset button, select, input
// reset text decoration on a, ins
// reset small
// color and bg on body, not html
// --------------------------------------------------
@mixin global-reset {
  body {
  	color: #000;
  	background: #fff;
  }

  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
  	margin: 0;
  	padding: 0;
  }

  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  fieldset,
  img {
  	border: 0;
  }

  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var {
  	font-style: normal;
  	font-weight: normal;
  }

  li {
  	list-style: none;
  }

  caption,
  th {
  	text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small {
  	font-size: 100%;
  	font-weight: normal;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content:'';
    content:none;
  }

  abbr {
  	border:0;
  	font-variant:normal;
  }
  
  sup,
  sub {
  	vertical-align: baseline;
  }

  input,
  textarea,
  select,
  button {
  	font-family: inherit;
  	font-size: inherit;
  	font-weight: inherit;
  }
  
  input,
  textarea,
  button {
  	border: 0;
  	padding: 0;
  	background: none;
  }

  del,
  ins,
  a {
  	text-decoration: none;
  }
  
}

// --------------------------------------------------
// reset box model
// --------------------------------------------------
@mixin box-model-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

// --------------------------------------------------
// reset font styles
// --------------------------------------------------
@mixin font-reset {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: inherit;
}