@mixin list-base($line-height, $margin-y) {
  @include block;
  li {
    @include li-reset;
    line-height: $line-height;
		margin: $margin-y 0;
  }
}

@mixin bullet($img, $padding-x, $offset-x, $offset-y) {
  background: url($img) $offset-x $offset-y no-repeat;
  padding-left: $padding-x;
}

@mixin no-bullet {
  background: none;
  list-style-type: none;
  padding-left: 0;
}

@mixin no-bullets {
  li {
    @include no-bullet;
  }
}

@mixin list-reset {
  margin-bottom: 0;
  li {
    @include li-reset;
  }
}

@mixin li-reset {
  list-style-type: none;
  padding-left: 0;
  background: none;
  line-height: inherit;
  margin: 0;
}

@mixin ul(
  $line-height: $base-list-line-height,
  $margin-y: $base-list-margin-y,
  $img: $easel_dir + 'images/decor/bullet.png',
  $padding-left: 10px,
  $offset-x: 0,
  $offset-y: .5em) {
  @include list-base($line-height, $margin-y);
  li {
    @include bullet($img, $padding-left, $offset-x, $offset-y);
  }
}

@mixin ol(
  $type: decimal,
  $margin-left: 2em,
  $line-height: $base-list-line-height,
  $margin-y: $base-list-margin-y) {
  @include list-base($line-height, $margin-y);
  li {
    list-style-type: $type;
    margin-left: $margin-left;
  }
}

@mixin dl {
  @include block;
  dd {
    margin-left: $base-x;
  }
}